{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% include 'Base/HeaderRefrence.html' %}
    {% block header_refrence %}{% endblock header_refrence %}

</head>
<body>
{%  include 'Base/Header.html' %}
{% block content %}{% endblock content %}
    {% include 'Base/Footer.html' with name="mohammad" %}
    {% include 'Base/FooterRefrence.html' %}
    {% block footer_refrence %}{% endblock footer_refrence %}
</body>
</html>