<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="footer-left">
                    <p>{{ setting.copy_right_text }}</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="footer-right">
                    {% for social in social_media %}
                        <a href="{{ social.url }}"><i class="fa fa-{{ social.icon }}"></i></a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</footer>