{% extends 'Base/base.html' %}
{% block title %}صفحه ی مورد نظر یافت نشد | ارور 404{% endblock %}
{% block content %}
      <section id="single-page-header">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-left">
              <h2>خطای 404 - پیدا نشد</h2>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="single-page-header-right">
              <ol class="breadcrumb">
                <li><a href="{% url 'Home:home_page' %}">خانه</a></li>
                <li class="active">404 - پیدا نشد</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End single page header -->
  <!-- Start error section  -->
  <section id="error">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="errror-page-area">
            <h1 class="error-title"><span class="fa fa-bug"></span></h1>
            <div class="error-content">
              <span>اوه!</span>
              <p>متاسفیم، صفحه ای که به دنبال آن بودید پیدا نشد</p>
              <a class="error-home" href="{% url 'Home:home_page' %}">برو به خانه</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End error section  -->
{% endblock %}